body{
  padding-top: 80px;
}

.pic{
  width: 30px;
  height: 40px;
  background-size: cover;
  background-position: center;
  float: left;
}

.name{
  font-size: 16px;
  padding-left: 5px;
}

.addr{
  padding-left: 5px;
}

.urgent{
  color: red;
}

.event{
  color: green;
}

.update{
  color: purple;
}

.general{
  color: blue;
}

.unread{
  background-color: yellow;
}
