extends ../shared/template

block content
  h1 Neighborhood Info
  #events
  #police
  #fire
  #bldg
  #codes

block scripts
  script.
    var user = !{JSON.stringify(user)}
  script(src='/js/es6/compiled/data.js')
