extends ../shared/template

block content
  body(style='background-color: #afaa9c')
    .infoholder
      #events
        .infohead Nashville Events
    .infoholder
      #closest
        #police
          .infohead Closest Police Precint
        #fire
          .infohead Closest Fire Station
    .infoholder
      #bldg
        .infohead Neighborhood Building Permits
    .infoholder
      #codes
        .infohead Neighborhood Code Violations

block scripts
  script.
    var user = !{JSON.stringify(user)}
  script(src='/js/es6/compiled/data.js')
