doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/component.css' rel='stylesheet')
    link(href='/css/content.css' rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fuild
        .nav-bar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          if(user)
            ul.nav.navbar-nav.navbar-left
              li.li: a.navbar-brand BlockParty
            ul.nav.navbar-nav.navbar-right
              if(user.name)
                li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown') Welcome, #{user.name}
                  b.caret
                  ul.dropdown-menu
                    li.li: a.navbar-text(href='/dashboard') Dashboard
                    li.li: a.navbar-text(href='/profile') Edit Profile
                    li.li: a.navbar-text(href='/location') Change Address

              li.li: a.navbar-text(href='/logout') Logout
          else
            ul.nav.navbar-nav.navbar-left
              li.li: a.navbar-brand(href='/') BlockParty
            ul.nav.navbar-nav.navbar-right
              li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown') Login/Signup
                b.caret
                ul.dropdown-menu
                  //- li.li.dropdown-header(role='presentation') Login
                  //- li.li: a.navbar-text(href='/auth/facebook') Facebook
                  li.li: a.navbar-text(href='/login') Login
                  li.li: a.navbar-text(href='/signup') Signup
              //- li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown') Signup
              //-   b.caret
              //-   ul.dropdown-menu
              //-     li.li.dropdown-header(role='presentation') Signup
              //-     li.li: a.navbar-text(href='/auth/facebook') Facebook
              //-     li.li: a.navbar-text(href='/signup') Email

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='/js/vendor/sliding.form.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBAMlNUMi6ccnNWK0_Th04_be41nO4XNSk&sensor=true&libraries=weather')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')

    block scripts
