extends ../shared/template

block content
  body(style='background-color:#323844')
    .container.content.right.block1
      h1 BlockParty
      p Networking for Neighbors!
    section.separator
      h3 About
    .container.content.left.block2
      h1 Tell us More!
      p Sometimes it can be a bit awkward meeting your neighbors for the first time.
      | Let BlockParty help by introducing you virtually. Not only can you connect to people near you,
      | you can share neighborhood updates, keep everyone in the know about potential neighborhood threats,
      | and even plan and RSVP for a fun cookout or BLOCKPARTY!
      p
    section.separator
      h3 FAQs
    .container.content.right.block3
      h1 Question and Answer Time!
      p Q: What defines my neighborhood?
      p A: When you sign up and give us your address, we find everyone who falls within a quarter-mile radius.
      p Q: What are the stars and how do I get them?
      p A: You gain stars every time you log in, write on the message board, or comment on a neighbors post.
        | The number of stars you have, determine you social level in the app. Are you a wallflower or a social
        | butterfly? Only the stars will tell!
    section.separator
      h3 Brought to You By:
    .container.content.left.block4
      h1 Kelley Stephens
      p Nashvillian, wife, creator of apps
    section.separator
      h3 Check It Out!
